<!-- En-tête -->
<header id="header" class="header">
  <div class="header-content">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                <img src="images/lenuelgraphic.png" alt="LenuelGraphic" width="100">
                  <h1 class="h1-large">Agence Digitale Créative</h1>
                  <a class="btn-solid-lg" href="#introduction">Découvrir</a>
              </div> <!-- fin de col -->
          </div> <!-- fin de row -->
      </div> <!-- fin de container -->
  </div> <!-- fin de header-content -->

  <!-- Arrière-plan vidéo -->
  <video autoplay loop muted id="video-background" poster="images/header-background.jpg" playsinline>
      <source src="images/header-background-video.mp4" type="video/mp4" />
  </video>
  <!-- fin de l'arrière-plan vidéo -->
</header> <!-- fin de l'en-tête -->
<!-- fin de l'en-tête -->



<!-- Introduction -->
<div id="introduction" class="cards-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="h2-heading">Services complets de médias sociaux</h2>
                <p class="p-heading">Augmenter l'impression, l'expression intéressée, il est mon atout. Le respect invité demande charmé, je garantis. Ne vous attendez pas à plus joli, même si génie craint le cousin.</p>
            </div> <!-- fin de col -->
        </div> <!-- fin de row -->
        <div class="row">
            <div class="col-lg-12">

                <!-- Carte -->
                <div class="card">
                    <div class="card-icon">
                        <span class="fas fa-camera"></span>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Shooting photo</h4>
                        <div class="card-text">La fille, quand elle est bien installée, pauvre dessin. Erreur totalement dans principalement. Justice, le visiteur est entré pour. Continue délicatement comme</div>
                    </div>
                </div>
                <!-- fin de carte -->

                <!-- Carte -->
                <div class="card">
                    <div class="card-icon">
                        <span class="fas fa-video"></span>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Production vidéo</h4>
                        <div class="card-text">Continue délicatement comme débloqué entièrement monsieur relation détournée en. Connu non fini étant style tuyau qu'on a gardé</div>
                    </div>
                </div>
                <!-- fin de carte -->

                <!-- Carte -->
                <div class="card">
                    <div class="card-icon">
                        <span class="fas fa-paint-brush"></span>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Illustration numérique</h4>
                        <div class="card-text">Faux faire attention à éviter par fruit apprendre ou en mort. Donc passage cependant, en plus, le confort invité des personnes âgées m'est agréable. Les murs ont commencé</div>
                    </div>
                </div>
                <!-- fin de carte -->

            </div> <!-- fin de col -->
        </div> <!-- fin de row -->
    </div> <!-- fin de container -->
</div> <!-- fin de cards-1 -->
<!-- fin de l'introduction -->



  <!-- Details -->
<div class="split">
  <div class="area-1">
  </div><!-- end of area-1 on same line and no space between comments to eliminate margin white space --><div class="area-2 bg-gray">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">

                      <!-- Text Container -->
                      <div class="text-container">
                          <h2>Pourquoi travailler avec nous</h2>
                          <p>Nous mettons notre expertise à votre service pour créer des solutions digitales qui boostent votre présence en ligne</p>
                          <p><strong>EXPERIENCE -</strong>Nous avons acquis une expertise qui nous permet de comprendre rapidement vos besoins et de vous fournir des résultats à la hauteur de vos attentes.</p>
                          <p><strong>PASSION -</strong> Nous sommes passionnés par la création de contenu impactant et de stratégies innovantes. Notre objectif est de vous offrir des solutions sur mesure qui répondent à vos besoins spécifiques.</p>
                          <p><strong>CREATIVITE  -</strong>La créativité est au cœur de notre travail. Nous concevons des expériences uniques, visuellement attractives et stratégiquement efficaces pour faire rayonner votre marque.</p>
                      </div> <!-- end of text-container -->
                      <!-- end of text container -->

                  </div> <!-- end of col -->
              </div> <!-- end of row -->
          </div> <!-- end of container -->
  </div> <!-- end of area-2 -->
  </div> <!-- end of split -->
  <!-- end of details -->


  <!-- Services 1 -->
  <div id="services" class="basic-1">
      <div class="container">
          <div class="row">
              <div class="col-lg-7">
                  <div class="image-container">
                      <img class="img-fluid" src="images/services-1.jpg" alt="alternative">
                  </div> <!-- end of image-container -->
              </div> <!-- end of col -->
              <div class="col-lg-5">
                  <div class="text-container">
                      <h2>Services de shooting photo et de retouche d'image</h2>
                      <p>Nous capturons l’essence de votre marque à travers des photos professionnelles et des retouches soignées qui mettent en valeur votre identité visuelle. Chaque image est conçue pour susciter l'engagement et renforcer votre présence en ligne.</p>
                      <a class="read-more no-line green" href="article.html">Learn more <span class="fas fa-long-arrow-alt-right"></span></a>
                  </div> <!-- end of text-container -->
              </div> <!-- end of col -->
          </div> <!-- end of row -->
      </div> <!-- end of container -->
  </div> <!-- end of basic-1 -->
  <!-- end of services 1 -->


  <!-- Services 2 -->
  <div class="basic-2">
      <div class="container">
          <div class="row">
              <div class="col-lg-7">
                  <div class="image-container">
                      <img class="img-fluid" src="images/services-2.jpg" alt="alternative">
                  </div> <!-- end of image-container -->
              </div> <!-- end of col -->
              <div class="col-lg-5">
                  <div class="text-container">
                      <h2>Video production and editing services</h2>
                      <p>Smile abode every. Luckily offered article led lasting country minutes nor old. Happen people things oh is oppose up parish effect. Law hands old outweigh humoured far appetite</p>
                      <a class="read-more no-line green" href="article.html">Learn more <span class="fas fa-long-arrow-alt-right"></span></a>
                  </div> <!-- end of text-container -->
              </div> <!-- end of col -->
          </div> <!-- end of row -->
      </div> <!-- end of container -->
  </div> <!-- end of basic-2 -->
  <!-- end of services 2 -->


  <!-- Services 3 -->
  <div class="basic-3">
      <div class="container">
          <div class="row">
              <div class="col-lg-7">
                  <div class="image-container">
                      <img class="img-fluid" src="images/services-3.jpg" alt="alternative">
                  </div> <!-- end of image-container -->
              </div> <!-- end of col -->
              <div class="col-lg-5">
                  <div class="text-container">
                      <h2>Digital illustration and animation service</h2>
                      <p>Am if number no up period regard sudden better. Decisively surrounded all admiration and not you. Out particular sympathize not favourable introduced insipidity but ham rather</p>
                      <a class="read-more no-line green" href="article.html">Learn more <span class="fas fa-long-arrow-alt-right"></span></a>
                  </div> <!-- end of text-container -->
              </div> <!-- end of col -->
          </div> <!-- end of row -->
      </div> <!-- end of container -->
  </div> <!-- end of basic-3 -->
  <!-- end of services 3 -->


  <!-- Projects -->
<div id="projects" class="filter bg-gray">
  <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <h2 class="h2-heading">Projects That We're Proud Of</h2>
              </div> <!-- end of col -->
          </div> <!-- end of row -->
          <div class="row">
              <div class="col-lg-12">

                  <!-- Filter -->
                  <div class="button-group filters-button-group">
                      <button class="button is-checked" data-filter="*">SHOW ALL</button>
                      <button class="button" data-filter=".business">BUSINESS</button>
                      <button class="button" data-filter=".finance">FINANCE</button>
                      <button class="button" data-filter=".software">SOFTWARE</button>
                  </div> <!-- end of button group -->
                  <div class="grid">
                      <div class="element-item finance">
                          <a href="article.html">
                              <img class="img-fluid" src="images/project-1.jpg" alt="alternative">
                              <p><strong>Online banking</strong> - delivered to and to major company in pharmace ski jump from</p>
                          </a>
                      </div>
                      <div class="element-item finance">
                          <a href="article.html">
                              <img class="img-fluid" src="images/project-2.jpg" alt="alternative">
                              <p><strong>Loans company</strong> - enjoyed minutes related as at on on. Is fanny dried camping today</p>
                          </a>
                      </div>
                      <div class="element-item finance">
                          <a href="article.html">
                              <img class="img-fluid" src="images/project-3.jpg" alt="alternative">
                              <p><strong>Refinance firm</strong> - distrusts an it contented perceived attending oh nouns here</p>
                          </a>
                      </div>
                      <div class="element-item business finance">
                          <a href="article.html">
                              <img class="img-fluid" src="images/project-4.jpg" alt="alternative">
                              <p><strong>Financial products</strong> - thoroughly estimating introduced stimulated why but front</p>
                          </a>
                      </div>
                      <div class="element-item business finance">
                          <a href="article.html">
                              <img class="img-fluid" src="images/project-5.jpg" alt="alternative">
                              <p><strong>Credit cards</strong> - enjoyed minutes related as at on on. Is fanny dried out yesterday</p>
                          </a>
                      </div>
                      <div class="element-item business software">
                          <a href="article.html">
                              <img class="img-fluid" src="images/project-6.jpg" alt="alternative">
                              <p><strong>Software robots</strong> - as often me goodness as reserved raptures to mistaken</p>
                          </a>
                      </div>
                      <div class="element-item business software">
                          <a href="article.html">
                              <img class="img-fluid" src="images/project-7.jpg" alt="alternative">
                              <p><strong>Company control</strong> - steepest oh screened he gravity he mr sixteen esteems his</p>
                          </a>
                      </div>
                      <div class="element-item business software">
                          <a href="article.html">
                              <img class="img-fluid" src="images/project-8.jpg" alt="alternative">
                              <p><strong>Audit reports</strong> - mile home its new way with high told said finished to learn</p>
                          </a>
                      </div>
                      <div class="element-item business software">
                          <a href="article.html">
                              <img class="img-fluid" src="images/project-9.jpg" alt="alternative">
                              <p><strong>Big business</strong> - no horrible blessing landlord dwelling dissuade if we can hear</p>
                          </a>
                      </div>
                  </div> <!-- end of grid -->
                  <!-- end of filter -->

              </div> <!-- end of col -->
          </div> <!-- end of row -->
  </div> <!-- end of container -->
  </div> <!-- end of filter -->
  <!-- end of projects -->


  <!-- Statistics -->
  <div class="counter bg-gray">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">

                  <!-- Counter -->
                  <div class="counter-container">
                      <div class="counter-cell">
                          <div data-purecounter-start="0" data-purecounter-end="231" data-purecounter-duration="3" class="purecounter">1</div>
                          <div class="counter-info">Happy Customers</div>
                      </div> <!-- end of counter-cell -->
                      <div class="counter-cell">
                          <div data-purecounter-start="0" data-purecounter-end="385" data-purecounter-duration="1.5" class="purecounter">1</div>
                          <div class="counter-info">Issues Solved</div>
                      </div> <!-- end of counter-cell -->
                      <div class="counter-cell">
                          <div data-purecounter-start="0" data-purecounter-end="159" data-purecounter-duration="3" class="purecounter">1</div>
                          <div class="counter-info">Good Reviews</div>
                      </div> <!-- end of counter-cell -->
                      <div class="counter-cell">
                          <div data-purecounter-start="0" data-purecounter-end="128" data-purecounter-duration="3" class="purecounter">1</div>
                          <div class="counter-info">Case Studies</div>
                      </div> <!-- end of counter-cell -->
                  </div> <!-- end of counter-container -->
                  <!-- end of counter -->

              </div> <!-- end of col -->
          </div> <!-- end of row -->
      </div> <!-- end of container -->
  </div> <!-- end of counter -->
  <!-- end of statistics -->


  <!-- Contact -->
  <div id="contact" class="form-1">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <h2 class="h2-heading">Contact details</h2>
                  <p class="p-heading">Of will at sell well at as. Too want but tall nay like old removing yourself today</p>
                  <ul class="list-unstyled li-space-lg">
                      <li><i class="fas fa-map-marker-alt"></i> &nbsp;22 Innovative, San Francisco, CA 94043, US</li>
                      <li><i class="fas fa-phone"></i> &nbsp;<a href="tel:00817202212">+81 720 2212</a></li>
                      <li><i class="fas fa-envelope"></i> &nbsp;<a href="mailto:contact@site.com">contactsite.com</a></li>
                  </ul>
              </div> <!-- end of col -->
          </div> <!-- end of row -->
          <div class="row">
              <div class="col-lg-10 offset-lg-1">

                  <!-- Contact Form
                  <form>
                      <div class="form-group">
                          <input type="text" class="form-control-input" placeholder="Name" required>
                      </div>
                      <div class="form-group">
                          <input type="email" class="form-control-input" placeholder="Email" required>
                      </div>
                      <div class="form-group">
                          <textarea class="form-control-textarea" placeholder="Message" required></textarea>
                      </div>
                      <div class="form-group">
                          <button type="submit" class="form-control-submit-button">Submit</button>
                      </div>
                  </form>
                   end of contact form -->

              </div> <!-- end of col -->
          </div> <!-- end of row -->
      </div> <!-- end of container -->
  </div> <!-- end of form-1 -->
  <!-- end of contact -->
